* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    padding: 1rem;
    font-family: $default-font;

    background-image: linear-gradient(to right bottom, lighten($base-color, 40%), lighten($base-color, 90%), lighten($base-color, 40%));
    background-attachment: fixed;
}

