<!DOCTYPE html>
<div ng-controller="homeCtrl as vm" class="home">
    <header>
        <img ng-src="{{vm.mainImg}}"/>
        <h1>{{vm.title}}</h1>
    </header>

    <main>
        <section class="blogs">
            <a ng-repeat="blog in vm.blogs" class="blog" ng-href="{{blog.url}}" target="_blank">
                <div class="container">
                    <img ng-src="{{blog.imgSrc}}"/>
                    <div class="description">
                        <h2>
                            {{blog.title}}<br/>
                            <small>{{blog.subtitle}}</small>
                        </h2>
                    </div>
                </div>
            </a>
        </section>

        <section class="social">
            <div class="social-networks">
                <a ng-repeat="social in vm.socials" ng-href="{{social.url}}" title="{{social.title}}">
                    <i class="fab fa-2x" ng-class="social.icon"></i>
                </a>
            </div>
            <div class="stack-exchange">
                <a href="https://stackexchange.com/users/6440637"><img src="https://stackexchange.com/users/flair/6440637.png?theme=clean" width="208" height="58" alt="perfil para CeAlCuadrado en Stack Exchange, una red de sitios gratuitos de preguntas y respuestas impulsados por la comunidad" title="perfil para CeAlCuadrado en Stack Exchange, una red de sitios gratuitos de preguntas y respuestas impulsados por la comunidad"></a>
            </div>
        </section>
        
        <section class="gaming">
            <strong>{{vm.gaming.name}}</strong>: {{vm.gaming.gamingId}}
        </section>
    </main>

    <footer>
        <div class="mail-contact">
            <i class="fas fa-envelope fa-fw"></i> {{vm.email}}
        </div>
        <div class="copyright">
            &#169; {{vm.currentYear}} {{vm.name}}
        </div>
    </footer>
</div>